body {
    background-color: #FFF0EA;
}

header {
    background-color: #f5eeeb;
    padding: 20px;
}

h1 {
    font-family: Anton, monospace;
    margin: 10px;
    font-size: 40px;
    color: #6c440e;
}

form {
    margin-top: 3rem;
}

form > input {
    margin-bottom: 20px;
}
/* knap: opret bruger */
button {
    background-color: #ead9cd;
    color: #6b341d;
    font-size: 32px;
    padding: 40px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* tekstbokse med brugerinfo  */
input{
    font-family: Anton, monospace;
    font-size: 25px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #fff0ea;
}