body {
    background-color: #FFF0EA;
}

header {
    background-color: #f5eeeb;
    padding: 20px;
}

input {
    position: relative;
    left: 900px;
    bottom: 280px;
    background-color: #ead9cd;
    color: #6b341d;
    font-size: 32px;
    padding: 40px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input:hover {
    background-color: #d9c4b9;
}