html {
    color: #f5eeeb;
}

h1 {
    color: #6c440e;
}

.btn {
    border: #6c440e;
    padding: 25px 10px;
    text-align: center;
}

.btn:hover {
    background-color: #b0aeae;
    box-shadow: 2px 2px 2px black;
}

#btn-create {
    text-align: center;
}