<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Indtast oplysninger</h1>

<form action="/createNewBruger" method="post">
    <label>Fornavn</label>
    <br>
    <input type="text" name="fornavn" style="color: #6c440e">
    <br>
    <label>Efternavn</label>
    <br>
    <input type="text" name="efternavn" style="color: #6c440e">
    <br>
    <label>Brugernavn</label>
    <br>
    <input type="text" name="brugernavn" style="color: #6c440e">
    <br>
    <label>E-mail</label>
    <br>
    <input type="text" name="bruger_email" style="color: #6c440e">
    <br>
    <input type="submit" value="Opret bruger" style="color: #6c440e">
</form>
</body>
</html>