<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="createØnskeseddel.css">
    <title>Title</title>

</head>
<body>

<form action="/createNewOenske" method="post">
    <label>
        <input placeholder="Hvad ønsker du dig?" type="text" name="ønskenavn" style="color: #6c440e">
    </label>

    <label>
        <input placeholder="Beskrivelse (farve, str, etc)" type="text" name="beskrivelse" style="color: #6c440e">
    </label>
    <br>
    <label>
        <input placeholder="Link (valgfrit)" type="text" name="link" style="color: #6c440e">
    </label>

    <br>

    <a href="/createOenskeseddel">
        <button class="btn-create, btn" id="btn-create">Tilføj ønske</button>
    </a>
    <br>
</form>
<table>
    <thead>
    <tr>
        <th>Ønske</th>
        <th>Beskrivelse</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish:${oenske}">
        <td th:text="${wish.getNavn()}"></td>
        <td th:text="${wish.getBeskrivelse()}"></td>
        <td th:text="${wish.getLink()}"></td>
        <td th:text="${wish.getBruger_id()}"></td>

    </tr>



    </tbody>

</table>


</body>
</html>