<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="createØnskeseddel.css">
</head>
<body>

<form action="/createNewOenske" method="post">
    <label> Hvad ønsker du dig?</label>
    <input type="text" name="Navn">
    <br>
    <label>Beskrivelse(fx. farve, str, etc.)</label>
    <input type="text" name="beskrivelse">
    <br>
    <label>Link(Valgfrit)</label>
    <input type="text" name="link">
    <br>
    <a href="/create">
        <button class="btn-create, btn" id="btn-create">Tilføj ønske</button>
    </a>
    <br>
</form>
<table>
    <thead>
    <tr>
        <th>Titel på ønskeseddel</th>
        <th>Hvad ønsker du dig?</th>
        <th>Beskrivelse(fx. farve, str, etc.)</th>
        <th>Link(Valgfrit)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish:${oenske}">
        <td th:text="${wish.getNavn()}"></td>
        <td th:text="${wish.getBeskrivelse()}"></td>
        <td th:text="${wish.getLink()}"></td>
        <td th:text="${wish.getBruger_id()}"></td>


            <a th:href="@{'/sletØnske/'+${wish.}}">
                <button class="btn-sletØnske" id="btn-sletØnske">Slet dette ønske</button>
            </a>
            <a th:href="@{'/redigerØnske/'+${wish.id}}">
                <button class="btn-redigerØnske" id="btn-redigerØnske">Rediger</button>
            </a>

    </tr>
    </tbody>

</table>


</body>
</html>