<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Title</title>
</head>
<body>

<h1>ALLE DINE ØNSKER SAMLET</h1>

<div id="rektangel1">
    <a href="/rektangel1">
        <button class="btn-rektangel1, btn"id="btn-rektangel1">Opret bruger</button></a>
</div>

<div id="rektangel2">
    <a href="/rektangel2">
        <button class="btn-rektangel2, btn"id="btn-rektangel2">Log ind</button></a>
</div>

</body>
</html>